/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.theme-container .home
  max-width: 800px;
  padding-top: 0;

.home .hero img
  max-width 450px!important

.home .features
  align-items: stretch;
  text-align: center;

.nav-links .repo-link
.sidebar .nav-links .repo-link
  display: none !important;

.page-edit
  text-align: center;
  padding-top: 3rem;

table
  margin-right: auto;
  margin-left: auto;
  width: fit-content;

.theme-default-content code
  color: #333;

.theme-container.example-page h1
.theme-container.example-page h2
.theme-container.example-page h3
  text-align: center;
  border-bottom: 0;

.theme-container.example-page h2
  margin: 1rem auto;
  padding: 0;

.theme-container.example-page h3
  margin: 2rem auto;
  padding: 0;

.theme-container.example-page .examples
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

@media (max-width: 959px)
  .theme-container.example-page .examples
    grid-template-columns: 1fr;
    row-gap: 50px;

.theme-container.builder-page h1
  text-align: center;
