/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.theme-container .home
  max-width: 800px;
  padding-top: 0;

.home .hero img
  max-width 450px!important

.home .features
  align-items: stretch;
  text-align: center;

.nav-links .repo-link
  display: none;

.page-edit
  text-align: center;
  padding-top: 3rem;

table
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
