/**
 * Custom Palette
 *
 * ref: https://v1.vuepress.vuejs.org/config/#palette-styl
 */

$accentColor = #f57
$textColor = #333
$borderColor = #eee
$codeBgColor = #282c34

$homePageWidth = 840px
$contentWidth = 700px
$sidebarWidth = 18rem
